.aturcard {
  width: 100px;
  margin-top: 40px;
}

.avatar-match-image {
  width: 90px;
  height: 120px;
  border-radius: 8px;
  margin: 5px;
}

.box {
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}
.box .text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 5%; /* Adjust this value to move the positioned div up and down */
  font-family: Arial, sans-serif;
  color: #fff;
  width: 5%; /* Set the width of the positioned div */
  text-shadow: 2px 2px black;
}
