#swipe {
  background: transparent;
  position: static;
  overflow: hidden;
  width: 50%;
  height: 100%;
  cursor: url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png")
      39 39,
    auto;
}

#swipe > div {
  position: absolute;
  width: 60vw;
  height: 90vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

#swipe > div > div {
  padding: 5px;
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 400px;
  max-width: 500px;
  height: 550px;
  max-height: 570px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
    0 10px 10px -10px rgba(50, 50, 73, 0.3);
}

.swipe img {
  height: 380px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.swipe button[aria-label="previous"],
.swipe button[aria-label="next"] {
  background: salmon !important;
  color: black !important;
}

.swipe h2 {
  display: inline-block;
  margin-right: 10px;
  font-size: 30px;
}

.swipe h2:nth-of-type(2) {
  opacity: 0.7;
  font-size: 30px;
}

.swipe h5 {
  margin-top: -15px;
  margin-left: 2px;
  color: lightgray;
  font-size: 30px;
}
.swipe h5:last-of-type {
  color: darkgray;
  font-size: 5px;
}

.swipe .card > div {
  height: 380px !important;
}

.swipe .card {
  height: 500px !important;
}

.swipe .slider-control-bottomcenter {
  bottom: -15px !important;
}

.swipe .slider-control-bottomcenter > ul > li > button {
  color: salmon !important;
}
