body {
  -ms-overflow-style: none;
  overflow: -moz-scollbars-none;
}
body::-webkit-scrollbar {
  display: none;
}

.background {
  background-image: none;
}

.besar {
  font-size: 70px;
}

.geserkiri {
  margin-left: 1000px;
}

.flexend {
  justify-content: flex-end;
}

.flexcard {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bgmodal {
  background-color: aquamarine;
}

.flex {
  display: flex;
}
